<div ng-controller="adminController as ctrl" >  
    <p><a href="/r/logs" download>Logs</a></p>
    <p><a href="" ng-click="ctrl.halt()" >Halt server</a></p>
    <p><a href="" ng-click="ctrl.start()">Start server</a></p>
    <p><a href="" ng-click="ctrl.restart()">Restart server</a></p>
    
    <p><a href="/r/gardenCsv" download="garden.csv">Download garden.csv</a></p>
    
    <p><a href="/r/gardenCfg" download="gardenCfg.json">Download garden config</a></p>
    <div>
      <label for="file">Upload garden config</label>
      <input type="file" id="file"/>
      <button ng-click="ctrl.sendButton()">Upload garden config</button>
    </div>
</div>
