  <!-- <title>Garden &#9752;</title> -->
<div ng-controller="gardenCtrl as ctrl">
  <span class="error" ng-if="ctrl.error"> {{ctrl.error}} </span>
  <span class="message" ng-if="ctrl.message"> {{ctrl.message}} </span>
  <span class="message"> {{ctrl.status}} </span>

  <div ng-show="ctrl.loaded">
    <h4>{{res["Garden_QuickCycle"]}}</h4>
    <div ng-repeat="cycle in ctrl.program" class="program-cycle">
      <div class="program-zones">
          <div ng-repeat="zone in cycle.zones">
             <label>{{zone.name}}</label>
             <input type="checkbox" ng-model="zone.enabled" />
          </div>
      </div>
      <p>
        <span>{{res["Garden_Minutes"]}}</span>
        <input type="text" ng-model="cycle.time" style="width: 3em" />
      </p>
      <button ng-click="ctrl.removeCycle($index)">{{res["Garden_Remove"]}}</button>
    </div>
    <button ng-click="ctrl.addCycle()">{{res["Garden_Add"]}}</button>
  </div>

  <div ng-show="ctrl.loaded">
    <br/>
    <br/>
    <button ng-click="ctrl.start()" ng-disabled="ctrl.isDisableButton()">{{res["Garden_Start"]}}</button>
    <br/>
    <br/>
    <button ng-click="ctrl.stop()">{{res["Garden_Stop"]}}</button>
    <br/>
  </div>

  <div class="bot" ng-show="ctrl.loaded"> 
    <h3>{{res["Garden_NextCycles"]}}</h3>
      <p ng-repeat="cycle in ctrl.nextCycles">
        <span>{{format(cycle.scheduledTime ? "Garden_ScheduledProgram" : "Garden_QueuedProgram", cycle)}}</span>
      </p>
    <p> {{res["Garden_FlowInfo"]}} {{ctrl.flow.flowLMin | number : 1 }} <small><sup>Lit</sup>/<sub>min</sub></small>, {{ctrl.flow.totalMc | number : 3 }} <small>M<sup>3</sup></small> </p>
  </div>
</div>
