  <!-- <title>Garden &#9752;</title> -->
<div ng-controller="gardenCtrl as ctrl">
  <span class="error" ng-if="ctrl.error"> {{ctrl.error}} </span>
  <span class="message" ng-if="ctrl.message"> {{ctrl.message}} </span>
  <span class="message"> {{ctrl.status}} </span>

  <!-- Editor to add immediate cycle -->
  <div ng-show="ctrl.loaded && !ctrl.immediateStarted" class="garden-section">
    <div ng-hide="ctrl.immediateCycle">
      <button ng-click="ctrl.addImmediateCycle()">{{res["Garden_AddImmediate"]}}</button>
    </div>
    <h4 ng-hide="!ctrl.immediateCycle">{{res["Garden_QuickCycle"]}}</h4>
    <!-- List immediate program cycles -->
    <div class="program-cycle" ng-hide="!ctrl.immediateCycle">
      <div class="program-zones">
          <div ng-repeat="zone in ctrl.immediateCycle.zones">
             <label>{{zone.name}}</label>
             <input type="checkbox" ng-model="zone.enabled" />
          </div>
      </div>
      <p>
        <span>{{res["Garden_Minutes"]}}</span>
        <input type="text" ng-model="ctrl.immediateCycle.time" style="width: 3em" />
      </p>
    </div>
    <div ng-hide="!ctrl.immediateCycle">
      <button ng-click="ctrl.startImmediate()">{{res["Garden_StartImmediate"]}}</button>
      <button ng-click="ctrl.clearImmediate()">{{res["Garden_ClearImmediate"]}}</button>
    </div>
  </div>

  <!-- Section to suspend/resume for rain -->
  <div ng-show="ctrl.loaded" class="garden-section">
    <button ng-click="ctrl.resumeAll()" ng-show="ctrl.canResumeAll">{{res["Garden_ResumeAll"]}}</button>
    <button ng-click="ctrl.suspendAll()" ng-show="ctrl.canSuspendAll">{{res["Garden_SuspendAll"]}}</button>
  </div>

  <!-- Editor to edit program cycle -->
  <div ng-show="ctrl.loaded && ctrl.config.program.cycles.length > 0" class="garden-section">
    <div>
      <button ng-hide="ctrl.editProgramMode" ng-click="ctrl.startEdit()">{{res["Garden_EditProgram"]}}</button>
    </div>
    <h4 ng-if="ctrl.editProgramMode">{{res["Garden_EditProgram"]}}</h4>
    <!-- List program cycles -->
    <div ng-if="ctrl.editProgramMode" ng-repeat="cycle in ctrl.config.program.cycles" class="program-cycle">
      <div>
          <label><em>{{cycle.name}}</em></label>
      </div>
      <div>
        <label>{{res["Garden_StartAt"]}}</label>
        <input type="string" ng-model="cycle.startTime">
      </div>
      <div>
        <label>{{res["Garden_Duration"]}}</label>
        <input type="number" ng-model="cycle.minutes">
      </div>
      <div>
        <label>{{res["Garden_SuspendedCheckbox"]}}</label>
        <input type="checkbox" ng-model="cycle.suspended">
      </div>
      <div>
        <label>{{res["Garden_DisabledCheckbox"]}}</label>
        <input type="checkbox" ng-model="cycle.disabled">
      </div>
    </div>
    <div ng-if="ctrl.editProgramMode">
      <button ng-click="ctrl.saveProgram()">{{res["Garden_SaveProgram"]}}</button>
      <button ng-click="ctrl.clearProgram()">{{res["Garden_ClearProgram"]}}</button>
    </div>
  </div>
  
  <div class="bot" ng-show="ctrl.loaded"> 
    <h3>{{res["Garden_NextCycles"]}}</h3>
      <p ng-repeat="cycle in ctrl.nextCycles">
        <span ng-class="{ 'suspended': cycle.suspended, 'running': cycle.running }">
          {{format(cycle.scheduledTime ? "Garden_ScheduledProgram" : (cycle.running ? "Garden_RunningProgram" : "Garden_QueuedProgram"), cycle)}}
          <span ng-if="cycle.suspended"> {{format("Garden_Suspended")}}</span>
          <button ng-show="cycle.running" ng-click="ctrl.stop()">{{res["Garden_Stop"]}}</button>
        </span>
      </p>
    <p> {{res["Garden_FlowInfo"]}} {{ctrl.flow.flowLMin | number : 1 }} <small><sup>Lit</sup>/<sub>min</sub></small>, {{ctrl.flow.totalMc | number : 3 }} <small>M<sup>3</sup></small> </p>
  </div>
</div>
