<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/plotly.js/plotly.min.js"></script>
  <script src="/lib/moment/moment-with-locales.min.js"></script>
  <script src="/lib/requirejs/require.js"></script>
  <script>
    define("angular", [], angular);
    define("plotly.js", [], Plotly);
    require(["index"], () => {
      angular.bootstrap(document.body, ['home']);
    });
  </script>  

  <link href="style.css" rel="stylesheet"/>

</head>

<body ng-cloak class="home-body" ng-controller="mainController as main" >
  <p>
    <a href="" ng-click="main.goSolar()">Solar</a> &#9728;
    &nbsp;
    <a href="" ng-click="main.goGarden()">Garden</a> &#9752;
    &nbsp;
    <a href="" ng-click="main.goAdmin()">Admin</a>
  </p>

  <ng-include src="main.pageUrl" ng-if="!main.showLogin"></ng-include>

  <!-- Login -->
  <div ng-if="main.showLogin">
    <div>
          <label>Username:</label>
          <input type="text" ng-model="main.username"/><br/>
    </div>
    <div>
          <label>Password:</label>
          <input type="password" ng-model="main.password"/>
    </div>
    <div>
          <input type="submit" value="Submit" ng-click="main.login()"/>
    </div>
  </div>	

</body>
</html>
