.bot {
    bottom: 0;
    position: absolute; 
}
.muted {
    color: gray;
    font-size: 0.8rem;
}
.err { 
    color: red;
}
.unknown  { 
    color: darkred;
}
.off {
    color: gray;
}

.header {
    font-size: xx-large;
}
.total-pw { 
    font-size: x-large;
}
.peak-pw { 
    font-size: larger;
}
.total-pw { 
    font-size: x-large;
}

.home-body > div { 
    width: 75%;
}

.garden-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.program-cycle {
    border: 1px black solid;
    background: #f0f8ff69;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.program-zones {
    display: flex;
    flex-direction: column;
}

.suspended {
    color: gray;
}