.muted {
    color: gray;
    font-size: 0.8rem;
}
.unknown  { 
    color: darkred;
}
.off {
    color: gray;
}

.header {
    font-size: xx-large;
}
.total-pw { 
    font-size: x-large;
}
.peak-pw { 
    font-size: larger;
}
.total-pw { 
    font-size: x-large;
}

.home-body > div { 
    width: 75%;
}

