<!-- <title>Solar &#9728;</title> -->
<div ng-controller="solarCtrl as ctrl" >
    <p><span class="header" ng-class="ctrl.firstLineClass"> {{ctrl.firstLine}} </span> 
       <a ng-click="ctrl.drawDays(1)" href="#">andamento oggi</a>
       &nbsp;
       <a ng-click="ctrl.drawDays(4)" href="#">andamento 4 giorni</a>
    </p>
    <p class="total-pw" ng-show="ctrl.pvData.totalDayWh"> Energia oggi: <b>{{ctrl.pvData.totalDayWh / 1000}} kWh</b> </p>
    <p class="peak-pw" ng-show="ctrl.pvData.peakW"> Picco di <b>{{ctrl.pvData.peakW}}W</b> alle {{ctrl.pvData.peakTs}} </p>
    <br/>
    <br/>
    <br/>
    <p class="total-pw" ng-show="ctrl.pvData.totalKwh"> Energia totale: <b>{{ctrl.pvData.totalKwh}} kWh</b> </p>

    <div id="chart"></div>

    <p class="bot muted"> 
      <span ng-show="ctrl.pvData.currentTsTime">Aggiornato alle {{ctrl.pvData.currentTsTime}} del {{ctrl.pvData.currentTsDate}}.</span> 
    </p>
</div>
