<div>  
    <p><a href="/svc/logs/web" download>Web logs</a></p>
    <p><a href="/svc/logs/server" download>Net server logs</a></p>
    <p><a href="/svc/logs/garden" download>Garden logs</a></p>
    <p><a href="/svc/logs/solar" download>Solar logs</a></p>

    <p><a href="" (click)="haltMain()" >{{res["Admin_Halt"]}}</a></p>
    <p><a href="" (click)="startMain()">{{res["Admin_Start"]}}</a></p>
    <p><a href="" (click)="restartGarden()">{{res["Admin_Restart_Garden"]}}</a></p>
    <p><a href="" (click)="restartSolar()">{{res["Admin_Restart_Solar"]}}</a></p>

    <p><a href="/svc/gardenCsv" download="garden.csv">{{res["Admin_DownloadGardenCsv"]}}</a></p>
    <p><a href="/svc/gardenCfg" download="gardenCfg.json">{{res["Admin_DownloadGardenConfig"]}}</a></p>

    <div>
      <label for="file">{{res["Admin_UploadGardenConfig"]}}</label>
      <input type="file" #file/>
      <button (click)="sendButton()">{{res["Admin_UploadGardenConfig"]}}</button>
    </div>
</div>
