@import url(./common.css);

.garden-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.program-cycle {
    border: 1px black solid;
    background: #f0f8ff69;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.program-zones {
    display: flex;
    flex-direction: column;
}

.suspended {
    color: gray;
}
