<div>
  <span class="err" *ngIf="error"> {{error}} </span>
  <span class="message" *ngIf="message"> {{message}} </span>
  <span class="message"> {{status1}} </span>
  <span class="message" *ngIf="status2"> {{status2}} </span>

  <!-- Editor to add immediate cycle -->
  <div *ngShow="loaded && !immediateStarted" class="garden-section">
    <div *ngHide="immediateCycle">
      <button (click)="addImmediateCycle()">{{res["Garden_AddImmediate"]}}</button>
    </div>
    <h4 *ngHide="!immediateCycle">{{res["Garden_QuickCycle"]}}</h4>
    <!-- List immediate program cycles -->
    <div class="program-cycle" *ngHide="!immediateCycle">
      <div class="program-zones">
          <div *ngFor="let zone of immediateCycle!.zones">
             <label>{{zone.name}}</label>
             <input type="checkbox" [(ngModel)]="zone.enabled" />
          </div>
      </div>
      <p>
        <span>{{res["Garden_Minutes"]}}</span>
        <input type="text" [(ngModel])="immediateCycle.time" style="width: 3em" />
      </p>
    </div>
    <div *ngHide="!immediateCycle">
      <button (click)="startImmediate()">{{res["Garden_StartImmediate"]}}</button>
      <button (click)="clearImmediate()">{{res["Garden_ClearImmediate"]}}</button>
    </div>
  </div>

  <!-- Section to suspend/resume for rain -->
  <div *ngShow="loaded" class="garden-section">
    <button (click)="resumeAll()" *ngShow="canResumeAll">{{res["Garden_ResumeAll"]}}</button>
    <button (click)="suspendAll()" *ngShow="canSuspendAll">{{res["Garden_SuspendAll"]}}</button>
  </div>

  <!-- Editor to edit program cycle -->
  <div *ngShow="loaded && config.program.cycles.length > 0" class="garden-section">
    <div>
      <button *ngHide="editProgramMode" (click)="startEdit()">{{res["Garden_EditProgram"]}}</button>
    </div>
    <h4 *ngIf="editProgramMode">{{res["Garden_EditProgram"]}}</h4>
    <!-- List program cycles -->
    <div *ngIf="editProgramMode">
      <div *ngFor="let cycle of config.program!.cycles" class="program-cycle">
        <div>
          <label><em>{{cycle.name}}</em></label>
        </div>
        <div>
          <label>{{res["Garden_StartAt"]}}</label>
          <input type="string" [(ngModel)]="cycle.startTime">
        </div>
        <div>
          <label>{{res["Garden_Duration"]}}</label>
          <input type="number" [(ngModel)]="cycle.minutes">
        </div>
        <div>
          <label>{{res["Garden_SuspendedCheckbox"]}}</label>
          <input type="checkbox" [(ngModel)]="cycle.suspended">
        </div>
        <div>
          <label>{{res["Garden_DisabledCheckbox"]}}</label>
          <input type="checkbox" [(ngModel)]="cycle.disabled">
        </div>
      </div>
    </div>
    <div *ngIf="editProgramMode">
      <button (click)="saveProgram()">{{res["Garden_SaveProgram"]}}</button>
      <button (click)="clearProgram()">{{res["Garden_ClearProgram"]}}</button>
    </div>
  </div>
  
  <div class="bot" *ngShow="loaded"> 
    <h3>{{res["Garden_NextCycles"]}}</h3>
      <p *ngFor="let cycle of nextCycles">
        <span [ngClass]="{ 'suspended': cycle.suspended, 'running': cycle.running }">
          {{format(cycle.scheduledTime ? "Garden_ScheduledProgram" : (cycle.running ? "Garden_RunningProgram" : "Garden_QueuedProgram"), cycle)}}
          <span *ngIf="cycle.suspended"> {{format("Garden_Suspended")}}</span>
          <button *ngShow="cycle.running" (click)="stop()">{{res["Garden_Stop"]}}</button>
        </span>
      </p>
    <p> {{res["Garden_FlowInfo"]}} {{flow.flowLMin | number:'1' }} <small><sup>Lit</sup>/<sub>min</sub></small>, {{flow.totalMc | number:'3' }} <small>M<sup>3</sup></small> </p>
  </div>
</div>
